<div class="section" style="margin: 0 -15px 0 -15px; border-bottom: 1px solid #c2cfd6;">
  <div class="row" style="background-color: #ffffff; height: 46px; padding-top: 10px; margin-bottom: 20px">
    <div class="col-md-12">
      <h3 style="color:#4e4b4b">Histories</h3>
    </div>
  </div>
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h2 *ngIf="listBorrowers?.length==0" class="text-center">Your history of investment is empty!</h2>

            <table class="table" *ngIf="listBorrowers?.length>0">
              <thead>
              <tr>
                <th>Borrower</th>
                <th>Lend ticket</th>
                <th>Status</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let credit of listBorrowers">
                <td><strong>{{credit.borrowerName}}</strong><br>
                  CIC Rank: {{credit.cicRank}}<br>
                  LLLRank:{{credit.lllRank}}<br>
                  Credit Limit:{{credit.creditLimit}} VNDT
                </td>
                <td>Amount: {{credit.amount}} VNDT<br>
                  Rate: {{credit.rate}} %/yr<br>
                </td>
                <td>
                  <span class="badge badge-success">{{credit.status}}</span>
                </td>
                <!--<td>-->
                <!--<button class="btn btn-primary">Bid rate now!</button>-->
                <!--</td>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
