<div class="section" style="margin: 0 -15px 0 -15px; border-bottom: 1px solid #c2cfd6;">
  <div class="row" style="background-color: #ffffff; height: 46px; padding-top: 10px; margin-bottom: 20px">
    <div class="col-md-12">
      <h3 style="color:#4e4b4b">My wallet</h3>
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4>Personal information</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 text-center">
                <img class="img-avatar" src="assets/img/no-user.jpg" height="200"/>
              </div>
              <div class="col-md-4">
                <h2>{{user.username}}</h2>
                <p>CIC Rank: Level {{user.cicRank || 0}}</p>
                <p>LLL Rank: {{user.lllRank || 0}}</p>
                <h4>Credit Limit: <strong>{{user.creditLimit || 0}}</strong> VNDT</h4>
              </div>
              <div class="col-md-4 text-right">
                <h2><strong>{{user.ethBalance || 0}}</strong> ETH</h2>
                <h3><strong>{{user.tokenBalance || 0}}</strong> VNDT</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card" *ngIf="inDept">
          <div class="card-header">
            <h4>Your Debt</h4>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Amount</label>
              <div class="col-md-9">
                <h4><strong>30,324.65</strong> VNDT</h4>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Rate</label>
              <div class="col-md-9">
                <h4>26%</h4>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Barrieus</label>
              <div class="col-md-9">
                <h4><strong>60</strong> days</h4>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Start date</label>
              <div class="col-md-9">
                <h4>Nov 25th, 2017</h4>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="hf-email">Due date</label>
              <div class="col-md-9">
                <h4>Jan 25th, 2017</h4>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card" *ngIf="!inDept">
          <div class="card-header">
            <h4>Borrow Form</h4>
          </div>
          <div class="card-body">
            <form action="" method="post" class="form-horizontal">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="borrow-amount">Amount</label>
                <div class="col-md-9">
                  <input type="number" step="1" id="borrow-amount" name="borrow-amount" class="form-control"
                         placeholder="Enter amount of VNDT token.." [(ngModel)]="borrow.amount">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="borrow-amount">Rate</label>
                <div class="col-md-9">
                  <input type="number" id="borrow-rate" name="borrow-rate" class="form-control"
                         placeholder="Enter rate in percentage.." [(ngModel)]="borrow.rate">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="borrow-amount">Period</label>
                <div class="col-md-9">
                  <input type="number" step="1" id="borrow-period" name="borrow-period" class="form-control"
                         placeholder="Enter number of days to pay.." [(ngModel)]="borrow.period">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="borrow-expire-date">Expire Date</label>
                <div class="col-md-9">
                  <input type="date" step="1" id="borrow-expire-date" name="borrow-expire-date" class="form-control"
                         [(ngModel)]="expire">
                </div>
              </div>
            </form>
            <p class="red">{{message}}</p>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" (click)="createBorrow()"><i class="fa fa-dot-circle-o"></i> Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
